<a href="https://colab.research.google.com/github/RodericGuigoCorominas/datascience/blob/main/Day3_WeatherPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Can you predict Boston's weather?
Many of you are new in town, so you may to know what the weather is going to be like in the following weeks. The dataset loaded below contains information about temperature highs, lows, and averages of temperature, dew point, wind speeds, sea level pressure, and precipitation levels for every day from 1/1/2013 - 4/8/2018 inclusive. All data is publicly available in its entirety on the Weather Underground website.

The goal, is to predict the weather in the upcoming weeks using a simple Markov chain. You'll have to

In [7]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/RodericGuigoCorominas/datascience/main/datasets/boston_weather_2008.csv")

In [8]:
df.columns

Index(['Year', 'Month', 'Day', 'High Temp (F)', 'Avg Temp (F)', 'Low Temp (F)',
       'High Dew Point (F)', 'Avg Dew Point (F)', 'Low Dew Point (F)',
       'High Humidity (%)', 'Avg Humidity (%)', 'Low Humidity (%)',
       'High Sea Level Press (in)', 'Avg Sea Level Press (in)',
       'Low Sea Level Press (in)', 'High Visibility (mi)',
       'Avg Visibility (mi)', 'Low Visibility (mi)', 'High Wind (mph)',
       'Avg Wind (mph)', 'High Wind Gust (mph)', 'Snowfall (in)',
       'Precip (in)', 'Events'],
      dtype='object')

In [6]:
df

,Year,Month,Day,High Temp (F),Avg Temp (F),Low Temp (F),High Dew Point (F),Avg Dew Point (F),Low Dew Point (F),High Humidity (%),...,Low Sea Level Press (in),High Visibility (mi),Avg Visibility (mi),Low Visibility (mi),High Wind (mph),Avg Wind (mph),High Wind Gust (mph),Snowfall (in),Precip (in),Events
0,2008,1,1,40,34,28,37,31,22,92,...,29.56,10,8,1,23,10,36,0.18,0.18,Both
1,2008,1,2,33,22,10,28,18,-3,82,...,29.55,10,10,9,28,15,38,0.00,0.00,Snow
2,2008,1,3,14,11,7,-3,-7,-9,60,...,30.22,10,10,10,25,17,32,0.00,0.00,None
3,2008,1,4,32,20,8,13,5,-8,63,...,30.37,10,10,10,23,12,28,0.00,0.00,None
4,2008,1,5,42,35,27,26,16,12,64,...,30.17,10,10,10,16,9,23,0.00,0.00,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3744,2018,4,4,58,49,39,56,42,19,100,...,29.29,10,4,0,31,13,42,0.00,0.20,Rain
3745,2018,4,5,43,37,30,21,9,4,48,...,29.65,10,10,10,35,22,44,0.00,0.00,None
3746,2018,4,6,43,36,29,38,27,9,100,...,29.71,10,8,0,22,11,26,0.21,0.21,Both
3747,2018,4,7,47,41,35,38,26,16,92,...,29.69,10,10,10,20,12,27,0.00,0.01,Rain
3748,2018,4,8,42,37,32,21,17,11,52,...,29.76,10,10,10,22,13,29,0.00,0.00,None